name: deploy db-proxy
on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/deploy-db-proxy.yml"
      - "packages/**"
      - "apps/db-proxy/**"
  workflow_dispatch:
jobs:
  push-db-proxy:
    concurrency:
      group: push-db-proxy
      cancel-in-progress: false
    environment: registry-push
    runs-on: ubuntu-latest
    steps:
      - name: tailscale
        uses: tailscale/github-action@v3
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:ci
      - name: docker login
        uses: docker/login-action@v3
        with:
          registry: ${{ vars.DOCKER_REGISTRY }}
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - uses: actions/checkout@v4
      - run: docker build -t ${{ vars.DOCKER_REGISTRY }}/easyshell/db-proxy:latest -f ./apps/db-proxy/Dockerfile .
      - run: docker push ${{ vars.DOCKER_REGISTRY }}/easyshell/db-proxy:latest
  deploy-vps:
    needs:
      - push-db-proxy
    concurrency:
      group: deploy-vps
      cancel-in-progress: false
    environment: deployment
    runs-on: ubuntu-latest
    steps:
      - name: Make .ssh folder
        run: mkdir -p ~/.ssh
      - name: Write SSH private key
        run: echo '${{ secrets.SSH_PRIVATE_KEY }}' > ~/.ssh/id_rsa
      - name: Set permissions for SSH private key
        run: chmod 400 ~/.ssh/id_rsa
      - name: SSH into server
        run: ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa ${{ vars.SSH_USER }}@${{ vars.SSH_HOST }} ${{ vars.SSH_COMMAND }}
